{% extends "layout.html" %}
{% block content %}

        <p style="text-align: center; margin-bottom: 5%;">Zabbix migration tool from MySQL to PostgreSQL mainly using the Zabbix API</p>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                  <h3 style="text-align: center; margin-bottom: 5%;">MySQL server informations</h3>
                <form action="migrate", method="POST">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Zabbix URL</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="http://localhost:8080" name="srcurl" required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Username</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Admin" name="srcuser" required>
                      </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="zabbix" name="srcpass" required>
                    </div>
    
                    
              
              </div>
              <div class="col-sm">
                <h3 style="text-align: center; margin-bottom: 5%;">PostgreSQL server informations</h3>
                
                    <div class="form-group">
                        <label for="formGroupExampleInput">Zabbix URL</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="http://localhost:9080" name="dsturl" required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Username</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Admin" name="dstuser" required>
                      </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="zabbix" name="dstpass" required>
                    </div>
                </div>
                    
              
              
            </div>
            <div class="col-md-12 text-center">
                <button style="margin-top: 2%;" type="submit" class="btn btn-primary">Migrate</button>
                </form>
            </div>
           
          </div>
            
{% endblock content %}