<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Zabbix Mysql - PostgreSQL migration</title>
</head>
<body>
    <div class="text-center mb-5" style="background-color: #D40000;">
        <a href="/">
            <img src="{{ url_for('static', filename='img/Zabbix_logo.png') }}" class="img-fluid" alt="">
        </a>
        
        </div>
    {% block content %}{% endblock %}
</body>
</html>